<h1>Users list</h1>

<div id="users" class="list_items">
  <% @users.each do |user| %>
    <div class="show-item">
    <p>
      <strong><%= User.human_attribute_name(:email) %>:</strong>
      <%= user.email %>
    </p>

    <p>
      <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
      <%= user.postal_code %>
    </p>
  
    <p>
      <strong><%= User.human_attribute_name(:address) %>:</strong>
      <%= user.address %>
    </p>
  
    <p>
      <strong><%= User.human_attribute_name(:introduction) %>:</strong>
      <%= user.introduction %>
    </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
    <%= link_to t('views.common.back', name: i18n_pluralize(Book.model_name.human.downcase)), books_path %>
</nav>

<%= paginate @users %>
